# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runClient
runServer
Fabric/runClient/logs/latest.log
Fabric/runClient/logs/debug.log
Fabric/runClient/config/fabric/indigo-renderer.properties
buildOutput/